* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 100dvh;
  background-color: #cdcdcd;
}
